@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.App {
  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #2B4865;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-app {
  width: 400px;
  height: 400px;
  background-color: #002B5B;
  border-radius: 20px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
  display: none;
}
.input-text {
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  
  border: none;
  border-radius: 10px;
  color: black;
  text-indent: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
::placeholder{
  color: black;
}
.submit-button {
  width: 60px;
  height: 30px;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.cancel-button {
  cursor: pointer;
}
input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.todo-title {
  height: 50px;
  position: sticky;
  top: 0;
  color: azure;
  font-weight: 500;
  font-size: 1.4rem;
  word-spacing: 8px;
  letter-spacing: 1.5px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #256D85;
}
.todo-list {
  max-width: 80%;
  margin: 10px auto;
  padding: 6px;
  border-radius: 5px;
  min-height: 40px;
  background-color: #8FE3CF;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-main-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-text{
  width: 250px;
  text-align: left;
  word-wrap: break-word;
}
